extends layout.pug

block content
  div 
    h1= post.title
    p
      span= new Date(post.timestamp).toLocaleString()
      span 
        a(href="/user/" + post.userId) 发帖人:#{post.name}
    div= post.content

    ul 
      each comment in comments
        li
          div
            span= new Date(comment.timestamp).toLocaleString()  
            span
              | 
              a(href="/user/" + comment.userId)= comment.name
          div=comment.content
    //- 一般提交使用ajax提交
    form(action="/add-comment" method="post")
      input(hidden=true name="postId" value=post.id)
      textarea(placeholder="请输入您的评论" name="content")  
      br
      button 提交评论